[user]
    email = jleibham@gmail.com
    name = Jon Leibham
[alias]
    a = add
    aa = add .
    c = commit -m
    pl = pull
    ps = push -u origin HEAD
    s = status -sb
    cob = checkout -b
    co = checkout
    re = reset
[init]
    defaultBranch = main